@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles (optional but useful) */
html, body, #root {
  height: 100%;
}

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  background-color: #f9fafb; /* light gray */
  color: #111827; /* gray-900 */
}
* {
  scrollbar-width: thin;
  scrollbar-color: #2563eb #020617;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 6px;
}


